# Byte-compiled files
src/OpenUI.Graphics/obj
src/OpenUI.Graphics/bin
src/OpenUI.Core/obj
src/OpenUI.Core/bin

test/LocalTest/obj
test/LocalTest/bin

# Distribution / packaging
bin/*
*.nupkg

# Editor specific
*~
.vscode/
